@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto:b&display=swap');

@font-face {
  font-family: 'DINOT';
  src: url('../fonts/DINOT-Bold.woff2') format('woff2'),
    url('../fonts/DINOT-Bold.woff') format('woff'),
    url('../fonts/DINOT-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
